.flex-body-auth {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 5px;
  max-width: 380px;
  margin: auto;
}

.auth-title {
  margin-bottom: 20px;
  color: #4e5b68;
  align-self: flex-start;
}

.auth-check {
  color: rgba(43, 50, 57, 0.45);
  font-size: 15px;
  max-width: 17em;
}

.auth-input {
  padding: 15px 13px;
  line-height: 22px;
  font-size: 17px;
}

.auth-flex-element {
  width: $auth-form-width;
  padding: 5px;
}

.top-element {
  padding-bottom: 20px;
}

.error {
  color: red;
  font-style: italic;
}

.btn-padded {
  padding: 15px 18px;
}

button.btn.btn-primary.btn-padded {
  float: left;
}

.signout {
  max-width: 27em;
<<<<<<< HEAD
}
=======
}
>>>>>>> Complete signout component
