.create-flex-body {
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
}


.inner-flex-body {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 0 -0.5em 0;
}

.spaced {
  justify-content: space-around;
  margin-top: 1%;
}

.inner-flex-element {
  flex: 1 1 200px;
  padding: 5px;
}

.ingredient-button-div {
  display: flex;
  justify-content: flex-end;
}

.ingredient-button {
  margin: 0 0.2em;
}

.create-flex-element-right {
  flex: 1 1 500px;
  padding: 0 10px 5px 10px;
}

.create-flex-element-left {
  flex: 2 1 500px;
  width: 600px;
  padding: 0 10px 5px 10px;
}
.stretch {
  width: 200px;
}
.image-preview {
  border: 1px dashed black;
  height: 250px;
  width: 350px;
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/088/229/original/free-paper-tableware-vector-icons.jpg");
  background-size: 100% 100%;
  margin: auto;
  margin-bottom: 10px;
}
.image-preview-recipe {
  height: 250px;
  width: 350px;
  background-size: 100% 100%;
  margin: auto;
  margin-bottom: 10px;
}


#preview-image {
  max-width: 350px;
  max-height: 250px;
  margin: auto;
}

.image-preview-load {
  height: 250px;
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}


.hide-label {
  display: none;
}


.submit-button {
    width: 30%;
    margin: 2% 30%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #000000;
    border-radius: 8px;
    background: #7ee0af;
    background: -webkit-gradient(linear, left top, left bottom, from(#7ee0af), to(#24a866));
    background: -moz-linear-gradient(top, #7ee0af, #24a866);
    background: linear-gradient(to bottom, #7ee0af, #24a866);
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}

@media (min-width: 62em) {
    .submit-button {
    width: 20%;
    margin: 2% 30%;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    padding: 12px 24px;
    border: 1px solid #000000;
    border-radius: 8px;
    background: #7ee0af;
    background: -webkit-gradient(linear, left top, left bottom, from(#7ee0af), to(#24a866));
    background: -moz-linear-gradient(top, #7ee0af, #24a866);
    background: linear-gradient(to bottom, #7ee0af, #24a866);
    text-shadow: #591717 1px 1px 1px;
    font: normal normal bold 20px arial;
    color: #ffffff;
    text-decoration: none;
}
}
.submit-button:hover,
.submit-button:focus {
    background: #97ffd2;
    background: -webkit-gradient(linear, left top, left bottom, from(#97ffd2), to(#2bca7a));
    background: -moz-linear-gradient(top, #97ffd2, #2bca7a);
    background: linear-gradient(to bottom, #97ffd2, #2bca7a);
    color: #ffffff;
    text-decoration: none;
}
.submit-button:active {
    background: #4c8669;
    background: -webkit-gradient(linear, left top, left bottom, from(#4c8669), to(#24a866));
    background: -moz-linear-gradient(top, #4c8669, #24a866);
    background: linear-gradient(to bottom, #4c8669, #24a866);
}

// ***************imgur**********

/*.dropzone {
    border: 4px dashed #ccc;
    height: 200px;
    margin: 0 10px;
    position: relative;
    width: auto;
}*/
.dropzone {
  border: 1px dashed black;
  height: 250px;
  width: 350px;
  background-image: url("https://static.vecteezy.com/system/resources/previews/000/088/229/original/free-paper-tableware-vector-icons.jpg");
  background-size: 100% 100%;
  margin: auto;
  margin-bottom: 10px;
}

.dropzone p {
    height: 100%;
    line-height: 40px;
    margin: 0;
    text-align: center;
    width: 100%;
}

.dropzone input[type="file"] {
    height: 100%;
    left: 0;
    outline: none;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.dropzone + .status {
    border-radius: 5px;
    margin: 10px 10px 0;
    padding: 15px;
    text-align: center;
}

.dropzone.dropzone-dragging {
    border-color: black
}

.loading-modal {
    background-color: rgba( 255, 255, 255, .8 );
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -16px 0 0 -16px
}

body.busy .loading-modal {
    display: block;
}
.col-md {
            margin: 0 auto;
            max-width: 500px
        }

.re-upload {
  display: none;
}