.navbar-brand {
  font-family:'Dancing Script'; 
  font-size: 27px;
  margin-left: -6px; 
  margin-top:-6px;
}

.drop-block {
  display: flex;
  flex-flow: row nowrap;
  width: 100px;
  margin-left: 5px;
}

.drop-block-image {
  flex: 1 1 20px; 
  height: 20px;
  width: 20px;
  margin-right: 5px;
  border-radius: 50%;
}

.drop-block-icon {
  margin-left: 5px;
  margin-top: 2px;
}

.drop-inner-item {
  height: 30px;
  line-height: 25px;
}

.drop-inner-item-text {
  margin-top:50px;
}

.drop-inner-item-icon {
  margin-right:5px;
}

.searchbar-input {
  border-radius: 0.25rem 0 0 0.25rem;
  width: 400px;
}

.btn-searchbar {
  cursor: pointer; 
  border-radius: 0 0.25rem 0.25rem 0;
}

.searchbar {
  display: flex;
  flex-flow: row nowrap;
}