.card-display {
  padding-left: 10px;
}

@media (min-width: 20em) {
    .card-display {
        display:flex;
        justify-content: center;
    }
}

@media (min-width: 48em) {
    .card-display {
        display:flex;
        justify-content: flex-start;
    }
}

a, a:hover {
  color: black;
  text-decoration: none;
}

.flex-card-container {
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
  justify-content: space-around;
}

.card {
  background-color: white;
  @include box-shadow(0.1px 0.1px 0.5px 1px #ccc)
}

.card:hover {
  @include box-shadow(0.25px 0.25px 1px 2px $theme-primary)
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}

.row {
 -moz-column-width: 20em;
 -webkit-column-width: 20em;
 -moz-column-gap: 10px;
 -webkit-column-gap:10px;
}
.row > .col-lg-3 {
 display: inline-block;
 padding: 0;
 margin: 10px;
 width:  100%;
 float:none;
}

.card-spork {
  width: 12%;
  margin-left: 5px;
  position: absolute;
  right: 5px;
  top: 5px;
}
