.ingredient-styles {
  flex: 1 1 500px;
  padding: 10px;
  margin: 30px 15px 20px 20px;
  min-height: 500px;
  
}

.instructions-styles {
  flex: 1 1 500px;
  min-height: 500px;
  overflow: auto;
  padding: 10px;
  margin: 30px 20px 20px 15px;
  
}

.ingredient-title {
 font-size: 32px;
}

.instructions-title {
  font-size: 32px;
}

.quantity-style{
  font-weight: bold;
  margin-right: 15px;
}

.flex-body-instruction {
  justify-content: flex-start;
  display: flex;
}

.instruction-item {
  margin-top: auto;
  margin-left: 20px;
  font-size: 20px;
  display: flex;
}

.counter-style {
  font-size: 20px;
  display: flex;
}

.flex-body-ingredients {
  height: 25px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.empty-check{
  display: flex;
  width: 25px;
  height: 25px;

}

.ingredient-item {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  font-size: 20px;
  margin-left: 20px;
}
