.review-title {
  display: flex;
  justify-content: space-between;
}

.review-button {
  margin: 2%;
}

.review {
  margin: 0 2% 4% 2%;
  white-space: pre-wrap;
}

.review-author {
  display: flex;
  justify-content: space-between;
}

.review-star {
  justify-content: flex-end;
}

.star {
  margin: 0.5em 0;
  padding-right: 0.1em;
  width: 1.8em;
}
