@import "variables";
@import "mixins";

#sidebar-wrapper {
  top: 52px;
  left: -200px;
  width: 200px;
  background-color: $theme-primary;
  color: white;
  position: fixed;
  height: 100%;
  z-index: 1;
}
.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 200px;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 50px;
}
.sidebar-nav li a {
  color: white;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  background: rgba(255,255,255,0.25);
  color: white;
  text-decoration: none;
  width: 200px;
}
.sidebar-selected {
  background: rgba(255,255,255,0.25);
  color: white;
  text-decoration: none;
  width: 200px;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -200px;
}
@media (min-width: 768px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 200px;
  }
}

.recipe-view-margin{
  margin-left: 200px;
}

@media (max-width: 48em) {
  .recipe-view-margin {
    transition: 0s;
    margin-left: 0px;
  }
}

