#sidebar-wrapper {
  top: 50px;
  left: -200px;
  width: 200px;
  background-color: $theme-primary;
  color: white;
  position: fixed;
  height: 100%;
  z-index: 1;
}

.sidebar-recipe-heading {
  cursor: default;
  margin-top: -10px;
  line-height: 30px !important; 
  font-weight: bold;
}

.sidebar-sporks-heading {
  cursor: default;
  margin-top: -10px;
  line-height: 30px !important;
  font-weight: bold;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  margin: 0;
  padding: 0;
  width: 200px;
  list-style: none;
}
.sidebar-nav li {
  text-indent: 20px;
  line-height: 50px;
  cursor: pointer;
}

.sidebar-toggle-btn {
  display: block;
}

.sidebar-toggle-item {
  display: block;
}

.sidebar-nav li a {
  color: white;
  display: block;
  text-decoration: none;
}
.sidebar-nav li a:hover {
  background: rgba(255,255,255,0.25);
  color: white;
  text-decoration: none;
  width: 200px;
}

.sidebar-selected {
  background: rgba(255,255,255,0.25);
  color: white;
  text-decoration: none;
  width: 200px;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}
#sidebar-wrapper.sidebar-toggle {
  transition: all 0.3s ease-out;
  margin-left: -200px;
}
@media (min-width: 768px) {
  #sidebar-wrapper.sidebar-toggle {
    transition: 0s;
    left: 200px;
  }
  .sidebar-toggle-btn {
    display: none;
  }
  .sidebar-toggle-item {
    display: none;
  }
}

.recipe-view-margin{
  margin-left: 200px;
}

@media (max-width: 48em) {
  .recipe-view-margin {
    transition: 0s;
    margin-left: 0px;
  }
}

.spork-columns {
  display:flex;
  flex-flow:row wrap;
  justify-content: center;
  margin:auto;
}

.spork-card {
  cursor: pointer;
}

.spork-modal-default {
  margin: 30px 0 30px 5px;
}