.topbar-box {
  padding: 0 10px;
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.favorite-button {
  max-width: 45px;
  min-width: 45px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.favorite-image {
  // display: block
}

.medals-box {
  width: 575px;
}
