.topbar-box {
  height: 80px;
  display: flex;
  justify-content: space-between;
}

.favorite-button {
  width: 45px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.favorite-image {
  display: block
}