// == COLORS ==
$text-color: red;
$theme-primary: #24a866;
// == FONTS ==
$body-font: 'Raleway', Arial, Helvetica, sans-serif;

// == SIZES ==
$auth-form-width: 500px;
$create-form-width-left: 350px;
$create-form-width-right: 650px;
