@import "variables";
@import "mixins";
@import "sidebar";
@import "recipe-info-box";
@import "review";
@import "author-tile";
@import "recipe-tile";
@import "recipe-view";
@import "home";
@import "create";
@import "auth";
@import "bootstrap-overrides";
@import "tags";
/****************
Font
****************/

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/YZaO6llzOP57DpTBv2GnyFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/****************
Reset
****************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.4;
  font-family: $body-font;
  padding-top: 75px;
  background-color: ghostwhite;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:focus {
  outline: none;
}
strong {
  font-weight: bold;
}
/* micro clear fix */
.grouping:before,
.grouping:after {
  content: " ";
  display: table;
}
.grouping:after {
  clear: both;
}
img, iframe, video, object {
  max-width: 100%;
}

/****************-------Main-------****************/
.flex-body {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 5px;
}

h5 {
  font-size: 24px;
  word-wrap: break-word;
}

h6 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  font-size: 24px;
}
