@import "variables";
@import "mixins";


/****************
Font
****************/

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/YZaO6llzOP57DpTBv2GnyFKPGs1ZzpMvnHX-7fPOuAc.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(https://fonts.gstatic.com/s/raleway/v11/QAUlVt1jXOgQavlW5wEfxQLUuEpTyoUstqEm5AMlJo4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/****************
Reset
****************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1.4;
  font-family: $body-font;
  padding-top: 75px;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
:focus {
  outline: none;
}
strong {
  font-weight: bold;
}
/* micro clear fix */
.grouping:before,
.grouping:after {
  content: " ";
  display: table;
}
.grouping:after {
  clear: both;
}
img, iframe, video, object {
  max-width: 100%;
}
/****************-------Main-------****************/

/****************
Auth
****************/
.flex-body {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding: 5px;
}

.auth-flex-element {
  width: $auth-form-width;
  padding: 5px;
}

.top-element {
  padding-bottom: 20px;
}

.test {
  @include rounded(10px);
}

.error {
      color: red;
      font-style: italic;
    }

/****************
create
****************/

.inner-flex-body {
  display: flex;
  flex-flow: row nowrap;
}

.spaced {
  justify-content: space-around;
}

.inner-flex-element {
  flex: 1 1 200px;
  padding: 5px;
  // padding-left: 0px;
}

.create-flex-element-right {
  // flex: 2 1 600px;
  padding: 0 10px 5px 10px;
}

.create-flex-element-left {
  // flex: 1 1 400px;
  width: 600px;
  padding: 0 10px 5px 10px;
}

.image-preview {
  border: 1px dashed black;
  height: 250px;
  width: 300px;
  background-image: url("https://img.clipartfest.com/d705f9ff3f73afc0c2960d6087f5a757_camera-clipart-no-background-october-clipart-black-and-white-with-no-background_1185-908.jpeg");
  background-size: 100% 100%;
  margin: auto;
  margin-bottom: 10px;
}

.image-preview-load {
  height: 250px;
  width: 300px;
  margin: auto;
  margin-bottom: 10px;
}


.hide-label {
  display: none;
}

.submit-button {
  align-self: flex-end;
  width: 30%;
  margin: 0 30%;
}
/****************
home view
****************/

.flex-card-container {
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
  justify-content: space-around;
}

.card {
  @include box-shadow(1px 1px 3px 4px #ccc)
}

/****************
recipe view
****************/
#fadeout-text {
  -moz-animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation: cssAnimation 0s ease-in 5s forwards;
  -o-animation: cssAnimation 0s ease-in 5s forwards;
  animation: cssAnimation 0s ease-in 5s forwards;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
@keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    overflow: hidden;
  }
}

@-webkit-keyframes cssAnimation {
  to {
    width: 0;
    height: 0;
    visibility: hidden;
  }
}
